<div class="row gx-4">
  <div class="col-md-8">
    <p class="fs-5">Nổi bật</p>

    @for (post of posts; track $index) {
    <div class="mb-4">
      <div class="card bg-white" style="width: 100%">
        @if(post.thumnail) {
        <a [routerLink]="['posts', post.id]">
          <img
            src="https://localhost:7242/uploads/{{ post.thumnail }}"
            class="card-img-top no-radius"
            alt="post-image"
            title="{{ post.title }}"
          />
        </a>
        }
        <div class="card-body">
          <p>
            <small class="me-2">{{ post.releaseDate }}</small>
            <span>|</span>
            <a href="#" class="ms-2 link-offset-1">
              <small>{{ post.author }}</small>
            </a>
          </p>

          <a
            class="fs-4 fw-medium card-title link-dark link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            [routerLink]="['posts', post.id]"
          >
            {{ post.title }}
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>
    }
  </div>
  <div class="col-md-4">
    <p class="fs-5">Tin tức mới</p>

    @for (post of morePosts; track $index) {
    <div class="mb-4">
      <div class="card bg-white" style="width: 100%">
        @if(post.thumnail) {
        <a [routerLink]="['posts', post.id]">
          <img
            src="https://localhost:7242/uploads/{{ post.thumnail }}"
            class="card-img-top no-radius"
            alt="post-image"
            title="{{ post.title }}"
          />
        </a>
        }
        <div class="card-body">
          <p>
            <small class="me-2">{{ post.releaseDate }}</small>
            <span>|</span>
            <a href="#" class="ms-2 link-offset-1">
              <small>{{ post.author }}</small>
            </a>
          </p>

          <a
            class="fw-medium fs-5 card-title link-dark link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            [routerLink]="['posts', post.id]"
          >
            {{ post.title }}
            <i class="bi bi-chevron-right"></i>
          </a>
        </div>
      </div>
    </div>
    }
  </div>
</div>
