<div class="row gx-4">
  <!-- Featured posts -->
  <div class="col-md-8">
    <div class="bg-white py-5 mb-4">
      <div class="px-4 mb-4">
        <p class="fs-3">{{ post?.title }}</p>

        <p>
          <span class="me-2">{{ post?.releaseDate }}</span> |
          <a href="#" class="ms-2">{{ post?.author }}</a>
        </p>
      </div>

      <div class="w-100 mb-4">
        <img
          src="https://localhost:7242/uploads/{{ post?.thumnail }}"
          alt="post-image"
          class="img-fluid"
        />
      </div>

      <div [innerHTML]="post?.content" class="px-4 mb-4"></div>

      <div class="px-4 mb-4 d-flex flex-wrap">
        <span class="">Tags:</span>
        @for (tag of post?.tags; track $index) {
        <span>
          <a href="#" class="ms-2">{{ tag.name }}</a>
        </span>
        }
      </div>

      @if (roles == "Admin") {
      <div class="px-4 d-flex justify-content-end">
        <a class="btn btn-primary me-3" [routerLink]="['/posts/update', postId]"
          >Cập nhật bài viết</a
        >
        <button class="btn btn-outline-danger" (click)="deletePost(postId)">
          Xóa bài viết
        </button>
      </div>
      }
    </div>
  </div>

  <!-- Related posts -->
  <div class="col-md-4">
    <p class="fs-5">Bài viết liên quan</p>

    @for (post of relatedPosts; track $index) {
    <div class="card bg-white shadow-sm mb-4">
      <div class="card-body">
        <p>
          <small class="me-2">{{ post.releaseDate }}</small>
          <span>|</span>
          <a href="#" class="ms-2 link-offset-1">
            <small>{{ post.author }}</small>
          </a>
        </p>

        <a
          class="fw-medium card-title link-dark link-offset-1 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
          routerLink="/posts/{{ post.id }}"
        >
          {{ post.title }}
          <i class="bi bi-chevron-right"></i>
        </a>
      </div>
    </div>
    }
  </div>
</div>
