<div class="sidebar bg-primary vh-100 p-3 position-relative">
  <!-- profile avatar -->
  <a href="#" title="Profile">
    <img
      class="img-fluid rounded-circle mb-4"
      src="https://pbs.twimg.com/profile_images/1439953850471911426/s4pE9SYa_400x400.jpg"
      alt="avatars"
      width="60"
    />
  </a>

  <!-- Friend/Groups -->
  <div class="text-center mb-4">
    <a href="#" class="text-white fs-4" title="Friends"
      ><i class="bi bi-people"></i
    ></a>
  </div>

  <!-- Store -->
  <div class="text-center mb-4">
    <a href="#" class="text-white fs-4" title="Market"
      ><i class="bi bi-shop"></i
    ></a>
  </div>

  <!-- Applications -->
  <div class="text-center mb-4">
    <a href="#" class="text-white fs-4" title="Apps"
      ><i class="bi bi-grid"></i
    ></a>
  </div>

  <!-- Send -->
  <div class="text-center mb-4">
    <a href="#" class="text-white fs-4 active p-2 rounded" title="Send"
      ><i class="bi bi-send"></i
    ></a>
  </div>

  <!-- Cloud -->
  <div class="text-center mb-4">
    <a href="#" class="text-white fs-4" title="My Cloud"
      ><i class="bi bi-cloud-arrow-up"></i
    ></a>
  </div>

  <div
    class="text-center mb-3 bottom-0 position-absolute start-50 translate-middle-x"
  >
    <div class="mb-4">
      <a href="#" class="text-white fs-4" title="Settings">
        <i class="bi bi-gear"></i>
      </a>
    </div>

    <div>
      <a href="#" class="text-white fs-4" title="Logout"
        ><i class="bi bi-box-arrow-down"></i
      ></a>
    </div>
  </div>
</div>
