<p class="fs-5">Hãy viết gì đó nào!</p>

<div class="bg-white p-4 rounded shadow" style="margin-bottom: 150px">
  <form action="" [formGroup]="createBlogForm" (submit)="submitPost()">
    <div class="mb-4">
      <label for="title" class="form-label fw-medium">Tiêu đề bài viết <span class="text-danger" title="Bắt buộc">(*)</span></label>
      <input
        type="text"
        class="form-control"
        id="title"
        placeholder="Hãy nhập tiêu đề..."
        [formControl]="createBlogForm.controls.title"
      />
    </div>

    <div class="mb-4">
      <label for="image" class="form-label fw-medium"
        >Hình ảnh cho bài viết</label
      >
      <input
        type="file"
        class="form-control"
        id="image"
        (change)="addFile($event)"
      />
    </div>

    <div class="mb-4">
      <label for="content" class="form-label fw-medium">Nội dung <span class="text-danger" title="Bắt buộc">(*)</span></label>
      <ckeditor
        [editor]="ckEditor"
        [config]="config"
        id="content"
        [formControl]="createBlogForm.controls.content"
      ></ckeditor>
    </div>

    <div class="mb-4">
      <label for="tag" class="form-label fw-medium">Các tag liên quan (hãy nhập "," để ngăn cách các tag, ví dụ: "tag1, tag2..." hoặc "tag1,tag2...")</label>
      <input
        type="text"
        class="form-control"
        id="tags"
        [formControl]="createBlogForm.controls.tags"
        placeholder="Nhập tag liên quan"
      />
    </div>

    <div class="w-100 d-flex justify-content-end">
      <button class="btn btn-primary float-right text-uppercase fw-bold fs-5 w-25" [disabled]="!(validContent && validTitle)">Tạo bài viết</button>
    </div>
  </form>
</div>
